<h1>Applications</h1>
<div class="margin_top row">
  {{#each apps}}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <a href="/apps/show/{{id}}"><div style="background-image: url('/images/{{image}}'); background-color: white;" class="floating_middle_image"></div></a>
          {{#if user}}
          {{{editIcon user.id ../user.id id}}}
          {{!-- ../ is required because user.id is inside the #each apps loop --}}
          {{!-- to get global logged in from app.js at app.use((req, res, next) => { --}}
          {{!-- res.locals.user = req.user || null;}... we need to move up a directory with ../ --}}
          {{/if}}
        </div>
        <div class="card-content center-align">
          <a href="/apps/show/{{id}}"><h5 class="overflow">{{title}}</h5></a>
          <a href="/apps/show/{{id}}"><p class="app_description">{{desc}}</p></a>
          {{!-- stripTags body ==> stripTags(body) *using the helper function --}}
          {{!-- truncate body 150 ==> truncate(body, 150) *using the helper function --}}
          {{!-- {{{ }}} three curly brackets parses the text into html --}}
          {{!-- {{ }} two curly brackets just prints out the text --}}

          {{!-- <p class="app-text">{{truncate (stripTags body) 150}}</p> --}}

          {{{appDescription techStack}}}

          <br>
          <div class="chip">
            <img src="{{user.image}}" alt="Contact Person">
            {{!-- <a href="/apps/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a> --}}
            {{user.firstName}} {{user.lastName}}
          </div>
        </div>
        <div class="card-action center-align">
          <a class="waves-effect waves-light btn blue darken-1" href="/apps/show/{{id}}">View App</a>
        </div>
      </div>
    </div>
  {{else}}
    <p>No apps found</p>
  {{/each}}
</div>