<div class="row">
  <div class="col s12 m8">
    <h3>{{app.title}}
      <small>{{{editIcon app.user.id user.id app.id false}}}</small>
    </h3>
    <div class="card app">
      <div class="card-content">
        <span class="card-title">{{formatDate app.date 'MMMM Do YYYY'}}</span>
        {{{app.body}}}
      </div>
    </div>
    {{#if app.techStack}}
      {{{techStackView app.techStack}}}
    {{/if}}
    {{#if app.allowComments}}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            Comments
            {{#if user}}
              <form method="POST" action="/apps/comment/{{app.id}}" onsubmit="return validateComment()">
                <div class="input-field">
                  <textarea id="comment" name="commentBody" class="materialize-textarea" onfocus="commentToast()" spellcheck="false"></textarea>
                  <label> Add Comment</label>
                </div>
                <button type="submit" class="waves-effect waves-light btn">Submit</button>
              </form>
            {{else}}
              <p>Please <a class="login" href="/auth/google">log in</a> to leave a comment</p>
            {{/if}}
          </span>
        </div>
      </div>
      {{#each app.comments}}
        <div class="card">
          <div class="card-content">
            <h5>{{commentBody}}</h5>
            <div class="chip">
              <img src="{{commentUser.image}}">
              {{!-- <a href="/apps/user/{{commentUser.id}}"> --}}
              {{commentUser.firstName}} {{commentUser.lastName}}
              {{!-- </a> --}}
            </div>
            <br>
            <small>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
            <small>{{{editComment commentUser.id  ../user.id ../app.id id}}}</small>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
  <div class="col s12 m4">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title"><a href="{{app.url}}" target="_blank">Check out the Site</a></span>
        <a href="{{app.url}}" target="_blank">
        {{#if app.image}} 
          <img src="/images/{{app.image}}" class="circle responsive-img"></a>
        {{else}}
          <img src="/images/myfavicon_large.jpg" class="circle responsive-img">
        {{/if}}
        </a>
      </div>
      <div class="card-action">
        <a href="/apps/user/{{app.user.id}}">More From {{app.user.firstName}} {{app.user.lastName}}</a>
      </div>
    </div>
  </div>
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Empty Comment</h4>
    <p>Please make sure there is a comment to submit</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
  </div>
</div>
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Are you sure?</h4>
    <p>Please click 'Yes' to delete</p>
  </div>
  <div class="modal-footer">
    <a href="#!" onclick="deleteComment()" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
  </div>
  <input type="hidden" id="appId">
  <input type="hidden" id="commentId">
</div>


<script>

  function initialize() {
    console.log('wassup');
  }

  function validateComment() {
    if($('#comment').val() === '') {
      $('#modal1').modal('open');
      return false;
    } else {
      return true;
    }
  }

  function confirmDeleteComment(appId, commentId) {
    $('#appId').val(appId);
    $('#commentId').val(commentId);
    $('#modal2').modal('open');
  }

  function deleteComment() {
    const appId = $('#appId').val();
    const commentId = $('#commentId').val();
    const formId = `delete-comment-${appId}-${commentId}`;
    $('#'+ formId).submit();
  }

  function commentToast() {
    Materialize.toast('A comment would be awesome!', 2000, 'rounded')
  }

</script>